.page1{
    background-color: white;
    border: 3px solid black;
    margin: 1px 1px 1px 1px;
    padding: 20px;
}
.page1 h1{
    text-align: center;
    color: darkmagenta;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.page1 p{
    color:black;
    text-align: justify;
}
.page2{
    width: 1570px;
    margin: 1px 1px 1px 1px;
    border: 2px solid black;
}
.page2 h1{
    text-align: center;
    color: darkblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.page2 p{
    color: black;
    text-align: center;
    padding: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.page3{
    width: 1570px;
    margin: 1px 1px 1px 1px;
    border: 2px solid black;
}
.page3 h1{
    text-align: center;
    color: darkorchid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}
.page3 p{
    color: black;
    text-align: center;
    padding: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
header {
    background-color: orange;
    padding: 5px;
    text-align: center;
}
header img {
  position: absolute;
  top: 50px;
  left: 100px;
  height: 100px; 
}
header h1{
    color: azure;
    border: 7px solid brown;
    padding: 7px 12px;
    display: inline-block;
    border-radius: 20px;
}
nav ul{
    list-style-type: none;
    background-color: orange;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
nav li{
    float: left;
}
nav a{
    display: inline-block;
    color : blue;
    text-align: center;
    padding: 15px 30px;
    margin: 10px 15px 10px 15px;
    text-decoration: none;

}
nav a:hover{
   color: black;
}
footer
{
    background-color: yellowgreen;
   color: black;
   padding: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}